snippet class "Create an empty class" b
public class ${1:ClassName}
{
	$0
}
endsnippet

snippet classc "Create an class with a constructor" b
public class ${1:ClassName}
{
	public $1($2)
	{
		$0
	}
}
endsnippet

snippet tostring "toString method" b
@Override
public String toString()
{
	return "$0";
}
endsnippet
